body {
  color: #FFFFFF;
  font-size: 14px;
}

/*GENERICS*/

h1 {
  font-size: 3.5em;
}

img {
  width: 100%;
}

.blue_main {
  color: #006AFF !important;
}

/* [class*="col-"] {
  border: 1px solid black;
} */

/*HEADER*/

header > nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #FFFFFF;
  z-index: 3;
}

#logo_link {
  display: inline-block;
  height: 65px;
  line-height: 65px;
}

#logo {
  width: 172px;
}

.hlist {
  margin-bottom: 0;
  color: #000000;
  height: 65px;
  line-height: 65px;
  text-decoration: none;
}

.hlist > li {
  display: inline-block;
  height: 100%;
  padding: 5px 10px;
}

.hlist a {
  color: #000000;
}

.hlist li:hover {
  cursor: pointer;
}

.hlist li:hover > a {
  text-decoration: none;
  color: #006AFF;
}

.hlist a > i {
  color: lightgray;
}

a.nav_burger {
  display: inline-block;
  height: 100%;
  line-height: 65px;
}

i.nav_burger {
  font-size: 25px;
  vertical-align: middle;
}

#nav_signup {
  border: 1px solid #006AFF;
  border-radius: 5px;
  padding: 8px;
}

#nav_signup:hover {
  color: #FFFFFF;
  background-color: #006AFF;
}


/*JUMBOTRON*/

#jumbotron {
  margin-top: 65px;
  padding: 20px 0;
  background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#jumbotron p {
  font-size: 1.6em;
  font-weight: 200;
}

@media (min-width: 1200px) {

  h1 {
    font-size: 4.1em;
  }

  #jumbotron p {
    font-size: 1.7em;
  }

}

#main_text {
  padding: 20px auto;
}

#create_account {
  color: #000000;
  margin: 20px auto;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  padding: 20px
}

@media (min-width: 992px) {

  #create_account {
    width: 80%;
  }

}

input {
  height: 50px !important;
}

#create_account > h3 {
  margin-top: 0;
}

#create_account button {
  width: 100%;
  margin-top: 10px;
  height: 30px;
  font-size: 13px;
}

button[type="submit"] {
  color: #FFFFFF;
  background-color: #005CFF;
}

button[type="button"] {
  text-align: left;
  position: relative;
}

button[type="button"] > b {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

button[type="submit"]:hover {
  color: #FFFFFF;
  background-color: #1633FF;
}

#jumbotron form > p {
  font-size: 0.9em;
  margin-top: 15px;
  font-weight: 300;
}

/* CUSTOMERS */

#customers {
  background-color: #F3F5F9;
}

#customers > h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #5B6987;
  padding-top: 50px;
}

#logos ul {
  padding: 0;
}

.logo_container {
  display: inline-block;
  height: 160px;
  line-height: 160px;
  width: calc(100%/2 - 2px);
}

.logo_container > img {
  max-height: 100%;
  max-width: 200px;
}

@media (min-width: 768px) {

  .logo_container {
    width: calc(100%/3 - 3px);
  }

  .logo_container > img {
    max-width: 160px;
  }

}

@media (min-width: 992px) {

  .logo_container {
    width: calc(100%/6 - 6px);
  }

  .logo_container > img {
    max-width: 140px;
  }

}

#customers a {
  display: inline-block;
  margin-bottom: 10px;
}

#customers a > i {
  margin-left: 10px;
}

/*DEPLOY*/

#deploy {
  height: 1500px;
  background-color: #FFFFFF;
  color: #000000;
}

#deploy h3 {
  font-size: 2.5em;
}

#deploy p {
  font-size: 1.4em;
  font-weight: 200;
  color: #A9B0C0;
}

#deploy .container > .row:first-child {
  margin-top: 30px;
  margin-bottom: 30px;
}

#deploy ul {
  padding: 0;
  font-size: 16px;
  width: 471px;
  margin: auto;
}

#deploy li:hover > a {
  color: #000000;
}

#deploy ul > li {
  padding: 0;
}

#deploy li > a:after {
  content: "";
  display: block;
  position: relative;
  width: 80px;
  height: 4px;
  background-color: lightgray;
  border-radius: 5px;
}

#deploy li:hover > a:after {
  background-color: blue;
}

div.deploy_common {
  margin-top: 30px;
}

div.deploy_common > img {
  width: 39px;
  height: 38px;
}

div.deploy_common > p {
  font-size: 1.1em;
}

@media (min-width: 768px) {

  #deploy ul {
    width: 100%;
    list-style-type: none;
    text-align: left;
  }

  #deploy .hlist > li {
    display: list-item;
  }

  #deploy li > a:after {
    display: none;
  }

  .hlist {
    height: 100%;
  }

  div.deploy_common {
    margin-top: 0;
  }

  #deploy .row > [class*="col-"] > .row:first-child {
    margin-bottom: 30px;
  }

}
